using './main.bicep'

param projectName = '{{PROJECT}}'
param environment = 'dev'
param location = 'westeurope'
param organizationPrefix = '{{ORG}}'

param appServicePlanSku = { name: 'B1', tier: 'Basic', capacity: 1 }

param tags = {
  Environment: 'Dev'
  Project: '{{PROJECT}}'
  Organization: '{{ORG}}'
}
