using './main.bicep'

param projectName = '{{PROJECT}}'
param environment = 'prod'
param location = 'westeurope'
param organizationPrefix = '{{ORG}}'

param appServicePlanSku = { name: 'P1v2', tier: 'PremiumV2', capacity: 2 }

param tags = {
  Environment: 'Prod'
  Project: '{{PROJECT}}'
  Organization: '{{ORG}}'
}
